/* setting */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--Grey-20, #333);
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Urban;
    font-style: normal;
    line-height: 150%;
    font-weight: 500;
    font-size: 18px;
}

.section {
    max-width: 1440px;
    margin: 0 auto;
}

.ta-c {
    text-align: center;
}

::-webkit-scrollbar { 
    width: 0; 
  }

/* setting end */

/* fonts */
@font-face {
    font-family: Urban;
    src: url(../fonts/Urbanist-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Urban;
    src: url(../fonts/Urbanist-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Urban;
    src: url(../fonts/Urbanist-SemiBold.ttf);
    font-weight: 600;
}

/* fonts end */

/* titel */
h2 {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    color: var(--Grey-15, #262626);
    font-size: 30px;
    font-weight: 600;
    margin-top: 2px;
}

h4 {
    color: var(--Grey-15, #262626);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

/* titel end */

/* header */
header {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--Green-90, #EEF8D3);
    background: var(--Dark-Green-15, #1A3129);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 26px;
}

.header__btn {
    color: var(--Green-97, #FAFDF2);
    font-weight: 600;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .active {
    color: var(--Green-70, #CBEA7B);
    font-size: 18px;
    font-weight: 600;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #CBEA7B;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: opacity 0.3s;
    margin-top: 130px;
}

.dropdown-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #FFFFFF;
}

.dropdown-content.show {
    max-height: 100px;
    height: 100px;
    transition: max-height 0.5s ease-in-out;
}

/* header end */

/* banner */
.banner {
    padding-top: 190px;
}

/* banner end  */

/* slider */
.slider {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 1600px;
    overflow: hidden;
    text-align: center;
}

.people {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 30px 40px;
    background: var(--Green-95, #F6FBE9);
    margin-top: 40px;
}

.people p {
    color: var(--Dark-Green-15, #1A3129);
    font-weight: 600;
}

.slider__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.elips {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.elip {
    width: 8px;
    height: 8px;
    background-color: var(--Green-85, #E5F5BD);
    border-radius: 100%;
}

.slider__nav .active {
    background-color: var(--Dark-Green-30, #356554);
}

.slide {
    min-width: 100%;
}

.slider button {
    border: none;
    cursor: pointer;
    padding: 19px 19px 10px 19px;
    border-radius: 8px;
    background: #EEF8D3;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

/* sliider end*/

/* catalog */
.catalog {
    margin-top: 200px;
}

.catalog__btn {
    margin-top: 80px;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--Green-80, #DCF1A7);
    width: 233px;
    margin-left: auto;
    margin-right: auto;
}

.catalog__btn .tab {
    display: flex;
    padding: 10px 24px;
    gap: 10px;
    color: var(--Grey-30, #4C4C4C);
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.catalog__btn .active {
    color: var(--Absolute-White, #FFF);
    background: var(--Dark-Green-20, #234338);
}

.sale {
    margin-top: 14px;

}

.sale p {
    color: var(--Grey-30, #4C4C4D);
}

.catalog__cards {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.content {
    display: none;
    opacity: 0;
}

.content.active {
    display: block;
    opacity: 1;
}

.catalog__card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    border-radius: 12px;
    border: 1px solid var(--Green-90, #EEF8D3);
    background: var(--Green-95, #F6FBE9);
}

.catalog__sell {
    color: var(--Grey-30, #4C4C4D);
}

.catalog__card__text {
    color: var(--Grey-15, #262626);
}

.price p {
    color: var(--Dark-Green-25, #2C5446);
    font-size: 50px;
    font-weight: 700;
    line-height: 87.523%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.btn {
    display: flex;
    padding: 18px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Green-70, #CBEA7B);
}

/* catalog end */

/* faq */
.faq {
    margin-top: 200px;
}

.faq-bg {
    border: 1px solid var(--Green-85, #E5F5BD);
    background: var(--Green-95, #F6FBE9);
    padding: 60px;
    margin-top: 80px;
    border-radius: 12px;
}

.faq__btn {
    background: #234338;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

}

.line {
    background: #E5F5BD;
    width: 100%;
    height: 1px;
}

.accordion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px 0;

}

.accordion_container {
    border-top: 1px solid #E5F5BD;
}

.panel {
    width: 1380px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease-in-out;
    margin-bottom: 10px;

}

.accordion.active+.panel {
    transition: max-height 0.6s ease-in-out;
    max-height: 500px;
}


/* faq end */

/* modal-3s */
.modal-3s {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.466);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-3s__container {
    position: absolute;
    display: flex;
    padding: 50px 270px;
    background: #2C5446;
    gap: 40px;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.modal-3s__item {
    width: 325px;
    height: 141px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    background: #234338;
}

.modal-3s__item-txt {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.modal-3s__close {
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

/* modal-3s */

/* modal-faq */
.modal-faq {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.modal-faq__item {
    position: relative;
    width: 325px;
    height: 141px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    background: #234338;
}
.modal-faq__close{
    position: absolute;
    top: 20px;
    right:20px;
    cursor: pointer;
}

/* modal-faq */